*.com    
*.class    
*.dll    
*.exe    
*.o    
*.so   
# Vim   
*.swp
*.pyc
*.swp
*.swo
*.png
*.pdf
*.log
*.aux
*.tex
*~
*.root
*hadd.sh
*.tar.gz
output
outputVols
shapeOutput/
outputValidation
meetingOutput/
preApprovalOutput/
statReportOutput/
cutTree.o
cutTreeSusy
